<?xml version="1.0" encoding="UTF-8"?>
<config>

<sysDataBase>
    <sys_ip>127.0.0.1</sys_ip>
    <sys_port>3306</sys_port>
    <sys_root>root</sys_root>
    <sys_password>xinhong12345</sys_password>
    <sys_dbname>xhdigital</sys_dbname>
</sysDataBase>

<centerDataBase>
    <xh_ip>192.168.30.12</xh_ip>
    <xh_port>3306</xh_port>
    <xh_root>root</xh_root>
    <xh_password>xinhong12345</xh_password>
    <xh_dbname>xh_pdt_simulcast</xh_dbname>
</centerDataBase>

<centerNet>
    <center_ip>192.168.30.124</center_ip>
    <center_port>12002</center_port>
    <udp_port>12000</udp_port>
</centerNet>

<Multicast>
    <multicast_ip>224.1.2.3</multicast_ip>
    <multicast_port>5000</multicast_port>
</Multicast>

<Listener>
  <start>1</start>
  <time>10</time>
</Listener>

</config>
